{
  "plugins": [
    [
      "inline-import",
      {
        "extensions": [".css"]
      }
    ],
    ["import", { "libraryName": "antd", "libraryDirectory": "lib"}, "ant"],
    ["import", { "libraryName": "ant-mobile", "libraryDirectory": "lib"}, "ant-mobile"]
  ],
  "presets": ["next/babel"],
  "ignore": []
}